
# option: fcitx /fcitx5  / ibus 
engine_name="fcitx5"
# 输入法框架使用
export GTK_IM_MODULE=${engine_name}
export XMODIFIERS=@im=${engine_name}
export QT_IM_MODULE=${engine_name}

# 启动 fcitx / ibus
case ${engine_name} in
    "fcitx")
        fcitx -r -d &
        ;;
    "fcitx5")
        fcitx5 -r -d &
        ;;
    "ibus")
        ibus-daemon -dRrx >/dev/null 2>&1
        ;;
esac


