
#custom-sep {
    font-size: 1px;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink-critical;
    animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
    color: @warning;
}

#workspaces button {
    transition: all .3s ease;
}

#workspaces button.active {
    color: @focused;
    border: 1px solid @focused;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .8);
    transition: all .3s ease;
}

#clock {
    font-family:'WenQuanYi Zen Hei Mono'
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
}

#hardwares {
    transition: all .3s ease;
}

#custom-expand {
    color: alpha(@foreground, .9);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .4s ease;
}

#custom-expand:hover {
    color: alpha(@foreground, .5);
    text-shadow: 0px 0px 2px rgba(15, 15, 15, .9);
}

.recorder-stop {
    color: @foreground;
    transition: all .3s ease;
}

.recording {
    color: @warning;
    transition: all .3s ease;
}

/*cffi实现的歌词显示标签 */
#waylyrics {
    color: @foreground;
    background-color: transparent;
    opacity: 0.5;
    transition: all 0.5s ease;
}

#waylyrics.playing {
    color: @urgent;
    opacity: 1;
    background-color: transparent;
    transition: all 0.5s ease;
}
#waylyrics.paused {
    color: @warning;
    opacity: 0.5;
}

