/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#workspaces button,
#mpd,
#mpris,
#taskbar,
#taskbar button,
#custom-power,
#custom-logo,
#custom-cliphist,
#custom-tools,
#custom-media,
#custom-drawer,
#custom-recoder,
#custom-hyprshade,
#custom-nope,
#custom-expand {
    padding-left: 6pt;
    padding-right: 6pt;
}

#custom-sep {
    font-size: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink-critical;
    animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
    color: @warning;
}

#workspaces button {
    /* border-radius: 8px; */
    /* border:1px solid @background; */
    /* box-shadow: 0px 0px 4px rgba(0, 0, 0, .8); */
    transition: all .3s ease;
}

#workspaces button.active {
    color: @focused;
    border-radius: 12px;
    border: 1px solid @focused;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .8);
    transition: all .3s ease;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
}

#hardwares {
    padding: 0px 5px;
    transition: all .3s ease;
}

#custom-expand {
    padding: 0px 5px;
    color: alpha(@foreground, .9);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .4s ease;
}

#custom-expand:hover {
    padding: 0px 5px;
    color: alpha(@foreground, .5);
    text-shadow: 0px 0px 2px rgba(15, 15, 15, .9);
}