/* Keyframes */

@keyframes blink-critical {
    to {
        /*color: @white;*/
        background-color: @critical;
    }
}
/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
}

/*引入颜色搭配方案*/
@import "../waybar/color.css";
/* 自动生成的颜色配置方案 */
@import "../waybar/styles/autogen_color.css";


/* The whole bar */
#waybar {
    background-color: transparent;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12pt;
    font-weight: bold;
}
/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#custom-power,
#workspaces button,
#mpd,
#custom-nope,
#custom-logo,
#mpris {
    padding-left: 10pt;
    padding-right: 12pt;
}
/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink-critical;
    animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
    color: @warning;
}

#workspaces button.active {
    color: @foreground;
    background-color: @focused;
}
